// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .table-font {
    font-size: 14px;
  }
  .filter-font {
    font-size: 14px;
  }
  .jumbotron {
    height: 400px;
  }
  .title-font {
    font-size: 90px
  }
}
