::-webkit-scrollbar {
    display: none;
}

.table-font {
  font-size: 12px;
}
.filter-font {
  font-size: 12px;
}
.jumbotron {
  height: 300px;
}
.home-form {
  margin-top: 80px;
}




@import "sm";
@import "md";
@import "lg";
@import "xl";
