::-webkit-scrollbar {
    display: none;
}

th a, td a {
  color: white;
}
.table a:hover {
  color: #00aacc;
  text-decoration: none;
}
.table thead th {
  border-top-color: transparent;
}
#collapse-filters .card {
  background-color: rgba(0,0,0,0.9);
  color: white;
}
.page-link {
  background-color: rgba(0,0,0,0.9);
  color: white;
}
.page-item.active .page-link {
  background-color: #00aacc;
}
.page-item:hover {
  cursor: pointer;
}
.main-body {
  height: 100vh;
  background: url(../../images/bg4.jpg) center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.title {
  margin-top: 100px;
}

.table-style {
  font-size: 12px;
  background-color: rgba(0,0,0,0.9);
  border-radius: 20px;
}
.filter-font {
  font-size: 12px;
}
.jumbotron {
  background-color: transparent;
}
.home-form {
  margin-top: 30px;
}
.title p {
  font-size: 25px;
}
.back {
  p {
    color: #00aacc;
  }
  p:hover {
    text-decoration: none;
    color: #0275d8;
    cursor: pointer;
  }
  margin-top: 40px;
  font-size: 20px;
}
.food-title {
  font-size: 25px;
}

.chart {
  margin-top: 50px;
}






@import "sm";
@import "md";
@import "lg";
@import "xl";
