<div ng-controller="FoodController as foodCtrl">

  <div ui-view="banner" class="jumbotron jumbotron-fluid text-white text-center mb-0"></div>

  <!-- food search input -->
  <div class="container text-center">
    <form class="home-form">
      <div class="form-group row justify-content-center">

        <div class="col-sm-8 mr-sm-0 pr-sm-1">
          <input type="text" class="form-control" placeholder="Search for a food..." ng-model="search">
        </div>

        <div class="col-sm-2 ml-sm-0 mt-1 mt-sm-0 pr-sm-0">
          <button type="submit" class="btn btn-block"><a ui-sref="results({ foodName: search })">Search</a></button>
        </div>

      </div>
    </form>
    <!-- if search returns no results -->
    <!-- <div ng-if="!foodCtrl.searched && foodCtrl.searchResults"  class="container text-center">
      <p class="text-white font-italic">Your search returned no results</p>
    </div> -->

  </div>




</div>
